:root {
    --accent-primary-color: #6fd2ff;
    --accent-primary-decoration-color: #5e82ab;
    --accent-secondary-color: #f94962;
    --accent-secondary-decoration-color: #f94962;
    --accent-tertiary-color: #bdddff;
    --accent-tertiary-decoration-color: #94b3d2;
    --accent-tertiary-border-color: #1c313a;
    --accent-tertiary-hover-color: #000;
    --accent-tertiary-outline-color: #b1cae3;
    --accent-box-color: #19313c;
    --accent-table-color: #19313c;
    --article-background-color: linear-gradient(-45deg, #162c35 70%, #0c252f 100%);
    --rainbow-gradient: linear-gradient(-90deg, #adfbda 0, #35c3ff 30%, #fda399 50%, #76d880 70%, #ebf38b 90%, #adfbda 100%);
    --text-shadow-1px: 1px 1px 1px rgba(0, 0, 0, 0.25);
    --block-separator-color: #244654;
    --feature-panel-bg-color: #1c313a;
    --feature-panel-byline-color: #fff;
    --author-desc-color: #fff;
    --article-target-color: #283c50;
    --subnav-bg-color: #283c50;
    --subnav-border-color: #1c313a;
    --subnav-color: #bdddff;
    --subnav-more-button-color: #fff;
    --subnav-more-button-border: #2b455e;
    --article-summary-color: #fff;
    --article-body-color: #e5e5e5;
    --article-figcaption-color: #e5e5e5;
    --article-headings-color: #fff;
    --article-list-marker-color: #bdddff;
    --article-pullquote-color: #e5e5e5;
    --article-blockquote-color: #fff;
    --article-blockquote-border: #405c63;
    --article-blockquote-bg: linear-gradient(to bottom right, #254655 0, #112831 100%);
    --article-blockquote-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    --article-toolbar-bg: #267dcc;
    --article-toolbar-bg-hover: #267dcc;
    --article-toolbar-color: #fff;
    --article-toolbar-color-hover: #fff;
    --article-comments-color: #bddfff;
    --article-comments-header: #fff;
    --article-comments-bg-color: transparent;
    --article-comments-link-color: #6fd2ff;
    --article-comments-link-decoration-color: #6fd2ff;
    --article-selection-bg: #345171;
    --nl-box-desc-color: #fff;
    --headers-bg-color: #0c252f
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--article-body-color, #e5e5e5);
        background: var(--article-background-color, #162c35)
    }

    article {
        background: var(--article-background-color, #162c35);
        text-shadow: var(--text-shadow-1px, 1px 1px 1px #eee)
    }

    .search-results article {
        background: 0 0
    }

    .pull-quote__link {
        color: var(--article-pullquote-color, #fff) !important
    }

    .book--featured__title a {
        color: var(--accent-tertiary-color, #bdddff);
        text-decoration-color: var(--accent-tertiary-decoration-color, #94b3d2)
    }

    figcaption {
        color: var(--article-figcaption-color, #e5e5e5) !important
    }

    .feature-panel::before, .sponsors__lead::before {
        border-bottom: 8px solid var(--block-separator-color, #244654);
        color: #fff
    }

    .feature-panel {
        background: var(--feature-panel-bg-color, #1c313a)
    }

    .nl-box__desc {
        color: var(--nl-box-desc-color, #fff)
    }

    header.subnav__header {
        background-color: var(--headers-bg-color, #0c252f)
    }

    .subnav .nav-item-link {
        background-color: var(--subnav-bg-color, #283c50);
        border: 1px solid var(--subnav-border-color, #1c313a);
        color: var(--subnav-color, #bdddff)
    }

    .c-garfield-the-cat .subnav-item--green .nav-item-link {
        background-color: var(--subnav-bg-color, #283c50);
        border: 1px solid var(--subnav-border-color, #1c313a);
        color: var(--subnav-color, #bdddff) !important
    }

    .subnav .nav-item-link:hover, .subnav .subnav-item--green .nav-item-link:hover {
        background-color: var(--accent-tertiary-color, #bdddff);
        color: var(--accent-tertiary-hover-color, #333) !important;
        border: 1px solid var(--accent-tertiary-border-color, #1c313a)
    }

    ul > li::marker {
        color: var(--article-list-marker-color, #bdddff)
    }

    .feature-panel__desc {
        color: var(--feature-panel-byline-color, #fff)
    }

    .subnav-more-item__button {
        color: var(--subnav-more-button-color, #fff);
        border: 1px solid var(--subnav-more-button-border, #2b455e)
    }

    .sponsors__native ul.bnnr-list li a {
        background-color: var(--accent-box-color, #19313c);
        color: var(--accent-tertiary-color, #bdddff);
        text-decoration-color: var(--accent-tertiary-decoration-color, #94b3d2) !important
    }

    .sponsors ul li {
        border: 1px solid rgba(0, 0, 0, .3)
    }

    .header {
        background-color: var(--headers-bg-color, #0c252f)
    }

    .bio-image-wrapper {
        --bio-image-border-color: transparent
    }

    .article__content .author-post__author-title, .summary__heading, ol > li::before {
        color: var(--accent-secondary-color, #f94962);
        text-decoration-color: var(--accent-secondary-decoration-color, #f94962)
    }

    .article__content a, .article__content a.anchor {
        color: var(--accent-primary-color, #6fd2ff)
    }

    .article-header--comments a, .article-header--date {
        color: var(--accent-tertiary-color, #bdddff)
    }

    .article__content figure:not(.bio-image) figcaption a, .article__image figure:not(.bio-image) figcaption a {
        color: var(--accent-tertiary-color, #bdddff);
        text-decoration-color: var(--accent-tertiary-color, #bdddff)
    }

    .author__desc__title, .c-garfield-the-cat .author__desc {
        color: var(--author-desc-color, #fff)
    }

    .main-nav-more-item__button:active, .main-nav-more-item__button:focus, .main-nav__primary .nav-item-link:active, .main-nav__primary .nav-item-link:focus, a:active, a:focus {
        outline-color: var(--accent-tertiary-outline-color, #b1cae3) !important
    }

    .article__summary {
        color: var(--article-summary-color, #fff);
        border-bottom: 3px solid var(--block-separator-color, #244654)
    }

    .meta-box {
        background-color: var(--accent-box-color, #19313c);
        text-shadow: var(--text-shadow-1px, 1px 1px 1px rgba(0, 0, 0, .3))
    }

    .meta-box a {
        color: var(--accent-tertiary-color, #bdddff);
        text-decoration-color: var(--accent-tertiary-decoration-color, #94b3d2)
    }

    .article-header--title {
        text-shadow: var(--text-shadow-1px, 1px 1px 1px rgba(0, 0, 0, .3))
    }

    .h2, .h3, .h4, .h5, h2, h3, h4, h5 {
        color: var(--article-headings-color, #fff);
        text-shadow: var(--text-shadow-1px, 1px 1px 1px rgba(0, 0, 0, .3))
    }

    .article-container .refs h1, .article-container .refs h2, .article-container .refs h3, .article-container .refs h4, .article-container .refs h5 {
        color: var(--article-headings-color, #fff)
    }

    .h1, h1 {
        background-image: var(--rainbow-gradient, #fff);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        filter: drop-shadow(0 0 2rem #000);
        text-shadow: none !important
    }

    .article__comment {
        background-color: var(--article-comments-bg-color, transparent)
    }

    .article__comments--notes, .article__comments--notes code {
        background-color: var(--article-comments-notes-bg-color, #19313c);
        text-shadow: none
    }

    .article__comments--notes code {
        color: var(--article-comments-color, #bddfff)
    }

    .article__comment header, .article__comment time, .comments__comment-count {
        color: var(--article-comments-color, #bddfff);
        -webkit-text-fill-color: initial
    }

    .article__comments .article__comment-wrapper > .article__comment-wrapper .article__comment-wrapper > .article__comment {
        background-color: var(--subnav-bg-color, transparent)
    }

    .c-garfield-the-cat > div:last-child.c-promo-box--ad::before, .c-promo-box--wide::before, .signature + .c-promo-box--ad::before {
        border-top: 8px solid var(--block-separator-color, #244654)
    }

    .book--featured__desc, .c-promo-box--ad::before {
        color: var(--article-body-color, #e5e5e5) !important
    }

    .article__comment .author span {
        color: var(--article-comments-header, #fff)
    }

    .article__comment a, .article__comments .article__comment-wrapper > .article__comment-wrapper .article__comment a, .article__comments .article__comment-wrapper > .article__comment-wrapper .article__comment-wrapper > .article__comment span a, .article__comments--notes a {
        color: var(--article-comments-link-color, #f94962);
        text-decoration-color: var(--article-comments-link-decoration-color, #f94962)
    }

    .btn--lined {
        background-image: linear-gradient(var(--block-separator-color, #244654), var(--block-separator-color, #244654))
    }

    .btn--lined .btn, .btn--lined .toolbar-item {
        box-shadow: 0 0 0 1em var(--accent-box-color, #19313c)
    }

    .c-felix-the-cat, :not(pre) > code, code {
        background: #293c50;
        color: var(--article-body-color, #e5e5e5);
        text-shadow: none
    }

    .toc-components {
        background: var(--feature-panel-bg-color, #1c313a)
    }

    .c-felix-the-cat, .toc-components {
        border-left: 11px solid var(--feature-panel-bg-color, #1c313a)
    }

    h1 code {
        background-color: transparent !important;
        text-shadow: none !important
    }

    blockquote:not(.pull-quote) {
        border-left: 11px solid var(--article-blockquote-border, #405c6e);
        color: var(--article-blockquote-color, #fff);
        background: var(--article-blockquote-bg, linear-gradient(to bottom right, #254655 0, #112831 100%));
        box-shadow: var(--article-blockquote-box-shadow, 1px 1px 6px rgba(0, 0, 0, .2))
    }

    .cookie-banner {
        background-color: var(--accent-box-color, #19313c);
        color: #fff
    }

    .cookie-banner a {
        color: var(--accent-primary-color, #6fd2ff)
    }

    :not(pre) > code[class*=language-], pre, pre[class*=language-] {
        border: none;
        box-shadow: none;
        background: var(--accent-box-color, #19313c)
    }

    .kbd, kbd {
        border: 1px solid var(--accent-primary-color, #6fd2ff);
        box-shadow: 1px 1px 0 var(--accent-primary-color, #6fd2ff), 2px 2px 0 var(--accent-primary-color, #6fd2ff);
        color: var(--accent-primary-color, #6fd2ff)
    }

    .token.entity, .token.operator, .token.url, .token.variable {
        background: 0 0
    }

    .token.atrule, .token.attr-value, .token.class-name, .token.keyword {
        color: #139dcb
    }

    .token.attr-name, .token.builtin, .token.char, .token.function, .token.inserted, .token.selector, .token.string {
        color: #36b30c
    }

    .token.boolean, .token.constant, .token.deleted, .token.function-name, .token.number, .token.property, .token.symbol, .token.tag {
        color: #f94962
    }

    .token.entity, .token.operator, .token.url, .token.variable {
        color: #e7b17c
    }

    .token.punctuation {
        color: #919799
    }

    .token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
        color: #8998a7
    }

    .btn--white, .toolbar-item {
        background: var(--article-toolbar-bg, #267dcc);
        color: var(--article-toolbar-color, #fff);
        border: none;
        text-shadow: var(--text-shadow-1px, 1px 1px 1px rgba(0, 0, 0, .3))
    }

    .btn--white:focus, .btn--white:hover, .toolbar-item:focus, .toolbar-item:hover {
        background: var(--article-toolbar-bg-hover, #0fb4ff) !important;
        color: var(--article-toolbar-color-hover, #fff);
        border: none
    }

    tbody tr:nth-child(2n) td {
        background-color: var(--accent-table-color, #19313c)
    }

    .tr, tr {
        border-bottom: 4px solid var(--accent-table-color, #19313c)
    }

    a.back-to-top {
        background-color: var(--accent-box-color, #19313c)
    }

    .back-to-top-wrapper svg path {
        fill: var(--accent-primary-color, #6fd2ff)
    }

    @keyframes fadeOut-headings {
        0% {
            background: var(--block-separator-color);
            box-shadow: 0 0 0 7px var(--block-separator-color)
        }
        100% {
            background: var(--article-target-color);
            box-shadow: 0 0 0 7px var(--article-target-color)
        }
    }.article__content a.anchor:active, .article__content a.anchor:focus, .article__content a.anchor:hover {
         background-image: linear-gradient(-90deg, #006fc6 0, #2ca2d3 30%, #2ca2d3 85%, #006fc6 100%);
         text-shadow: none
     }

    .article__content h2:target a, .article__content h3:target a, .article__content h4:target a, .article__content h5:target a {
        color: var(--accent-secondary-color)
    }

    .h1::selection, h1::selection {
        background: 0 0;
        -webkit-background-clip: initial;
        color: #fff
    }

    ::selection {
        background: var(--article-selection-bg, #345171)
    }

    ::-moz-selection {
        background: var(--article-selection-bg, #345171)
    }

    .h1::selection, h1::selection {
        background: var(--article-selection-bg, #345171);
        color: #fff;
        -webkit-text-fill-color: #fff;
        -moz-text-fill-color: #fff
    }

    .accordion-desc[aria-hidden=false], .article-container .refs {
        color: var(--article-body-color, #e5e5e5);
        background-color: var(--accent-box-color, #19313c)
    }

    .book-cta__price, .book-cta__title span {
        color: var(--article-body-color, #e5e5e5);
        background: 0 0
    }

    .book-grid__in-post h4 a {
        color: var(--article-body-color, #e5e5e5) !important
    }
}

.promo-box {
    background: var(--article-background-color, #162c35)
}