body {
    --text-color: #222;
    --bkg-color: #fff;
}
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: var(--bkg-color);
}

h1,
p {
    color: var(--text-color);
}


