.product-x{
    max-width: 80%;
    margin-left: 10%;
}
.container-x{
    margin-left: 5px;
    margin-right: 5px;
}
.card{
    margin-bottom: 30px;
    transition: all .5s;
    text-align: center;
}
.card:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
nav {
    margin: 0;
    height: 48px;
    /*overflow: hidden;*/
    /*-webkit-backdrop-filter: saturate(180%) blur(20px);*/
    /*backdrop-filter: saturate(180%) blur(20px);*/
    /*background: rgba(255,255,255,0.72);*/
    background: rgba(255,255,255,1);
}

.nav-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.nav-content a {
    display: block;
    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    transition: all 0.3s;
    color: #000000;
}

.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
    opacity: 0.99;
}

.nav-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-icon {
    margin-top: 18px;
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    /*padding: 17px 0;*/
    height: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.bar {
    height: 1px;
    width: 18px;
    background: black;
    transition: 0.5s;
}

.search-icon {
    cursor: pointer;
    transition: all 0.3s;
}
@media (max-width: 768px) {
    .ac-gn-item-menu::before {
        content: '';
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: block;
        width: 100%;
        height: 1px;
        /*background: #fff;*/
    }
}
@media (max-width: 768px) {
    .nav-content{
        padding: 3px 20px;
    }
    .nav-links {
        position: fixed;
        top: 44px;
        right: 0;
        height: 0;
        width: 100%;
        /*-webkit-backdrop-filter: saturate(180%) blur(20px);*/
        /*backdrop-filter: saturate(180%) blur(20px);*/
        background: rgba(255,255,255,1);
        flex-direction: column;
        justify-content: flex-start;
        transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .show .nav-links {
        height: 100%;
    }

    .nav-links a {
        font-size: 24px;
        font-weight: lighter;
        /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-right: 50px;
        margin-left: 50px;
        transition: opacity 1.5s, height 2s;
    }

    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
    }

    .nav-icon {
        order: 1;
        display: grid;
    }

    .logo {
        order: 2;
    }

    .search-icon {
        order: 3;
    }

}

.show .one {
    transform: rotate(45deg) translateY(5.5px);
}

.show .two {
    transform: rotate(-45deg) translateY(-5.5px);
}

.content {
    max-width: 1024px;
    min-height: 380px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h1 {
    font-size: 64px;
    margin-bottom: 0;
    color: #111111;
}

@media (max-width: 960px){
    .content h1 {
        font-size: 48px;
    }
}

/*spinner*/
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

